	a {
		border-bottom: 1px dotted;
		text-decoration: none;
	}

	.accent-bg {
	  background-color: lighten($main-link, 73%);
	  margin-bottom:1rem;
	}

	h1, .h1 {
		font-weight: 800;
		text-transform: none;
	}

	h2, .h2 {
		font-weight: 600;
		text-transform: none;
	}

	.post-meta a {
		color: lighten($main-link, 45%);
	}

	.meta {
		color: lighten($main-text-color, 55%);
		display: inline-block;
		padding-right: 1.3125rem;
	}

	.post-read-more {
		display: block;
		font-size: 0.875rem;
	}

	.post-summary p {
		padding: 0 0 0 1.3125rem;
	}

	.bio {
		clear:both;
	}

	.biophoto {
		margin: 0 0 0 1rem;
		float:right;
		width:300px;
	}

	.post-main-content {
		margin-top:1rem;
	}

	figure {
		border:1px dotted lighten($main-link, 45%);
		padding:1rem;
		text-align: center;
	}

	.inset {
		margin:1rem 4rem 1rem 4rem;
	}

