---
title: Videntes MultiSpectral Imaging Collective
layout: page
permalink: /
---

<div class="grid-container">
<div class="grid-x grid-padding-x grid-margin-x">

<p>Videntes utilizes multispectral imaging to uncover hidden details on medieval artifacts, manuscripts, and paintings that were previously unseeable. This technology reveals early versions, hidden texts, and forgotten artistry, using light wavelengths to look beneath surfaces. It offers a more accurate historical perspective, unearthing forgotten works and lost content, essentially making viewers detectives in the exploration of human history.</p>

<div class="juxtapose">
<img src="{{ site.urlimg }}MappaMundi/CloseUpPCA.jpg" data-label="Vercelli Mappa Mundi before MSI processing" alt="After" />
<img src="{{ site.urlimg }}MappaMundi/CloseUp.jpg" data-label="Vercelli Mappa Mundi after MSI processing" alt="Before" />
</div>

</div>
</div>

		</div>
	</div>
</div>

<div class="accent-bg" style="margin-bottom:1rem;">
<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
<h1>Latest News</h1>
{% for post in site.posts limit:1 %}
{% include _postloop.html %}
{% endfor %}
		</div>
	</div>
</div>
</div>



<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">

<h1>Examples of the MSI Capture Process</h1>

<figure>

<div class="grid-container" class="accent-bg">
	<div class="grid-x grid-padding-x grid-margin-x">

<div aria-label="Codex C Under Blue Light thumbnail" data-categories="Codex C, MSI, Processing Equipment" data-formats="document" class="cell filter-item small-12 medium-6 large-4 filter-simple-item">
<div class="card-thumbnail">
<img class="square thumbnail" src="{{ site.urlimg }}CodexC/ProcessingBlueLight.jpg" alt="">
</div>
</div>



<div aria-label="Codex C Under Green Light thumbnail" data-categories="Codex C, MSI, Processing Equipment" data-formats="document" class="cell filter-item small-12 medium-6 large-4 filter-simple-item">
<div class="card-thumbnail">
<img class="square thumbnail" src="{{ site.urlimg }}CodexC/ProcessingGreenLight.jpg" alt="">
</div>
</div>




<div aria-label="Codex C Under Yellow Light thumbnail" data-categories="Codex C, MSI, Processing Equipment" data-formats="document" class="cell filter-item small-12 medium-6 large-4 filter-simple-item">
<div class="card-thumbnail">
<img class="square thumbnail" src="{{ site.urlimg }}CodexC/ProcessingYellowLight.jpg" alt="">
</div>
</div>

<figcaption>Vercelli Archives, Codex C, under blue, green and yellow light capture.</figcaption>
</figure>



</div>
</div>
