/** =================================
Base font settings
================================= **/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$body-font: "Cormorant Garamond", Garamond, serif;
$headline-font: "Raleway", Consolas, Roboto, Arial, sans-serif;
$pre-font: 'Roboto Mono', Courier, monospace;

